$color-white: white;
$color-text--light: #edeff3;
$color-text--lighter: #8a959e;
$color-text: #7e838f;
$color-text--dark: #252b33;
$color-accent: #f36;
$color-link: #529fd2;
$font-weight--thin: 300;
$font-weight: 400;
$font-weight--bold: 700;
$font-family: Roboto;
$font-family--accent: Lato;
